name: CI

on:
  push:
    branches:
      - master
      - workflows
    tags:
      - '*'
  pull_request:

jobs:
  Build:
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    if: "!contains(github.event.head_commit.message, 'ci:skip')"

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Restore
      run: |
        dotnet tool restore

    - name: CopyLib
      run: |
        dotnet fake build -t CopyLib

    - name: Build
      run: |
        dotnet fake build -t Build

    - name: PublishMac
      if: runner.os == 'macOS'
      run: |
        dotnet fake build -t PublishMac

    - name: PublishWindows
      if: runner.os == 'Windows'
      run: |
        dotnet fake build -t PublishWin

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: "./publish/*.zip"
